@CHARSET "UTF-8";

html,body {
    /*height:100%;*/
}

* {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}

.easybg-css {
	/*background-image: url("/img/th_P4062921.jpg");*/
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    /*min-height: 100%;*/
}

.navbar .social-plugin {
	float: left;
	padding-top: 10px;
}

.navbar .contact {
	float: right;
	padding-top: 10px;
}

.contents {
    margin-top: 40px;
}

.contents h2 {
    font-size: 20px;
    line-height: 40px;
}

.contents h3 {
    font-size: 16px;
    line-height: 20px;
}

.topmain {
	padding: 150px 0 220px;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px #000; 
}

.topmain h1, .topmain div {
	margin-left: 30px;
}

.topmain div {
	width: 500px;
}

.topmain a {
	color: #7fdae7;
}

.paper {
	background-color:rgba(255, 255, 255, 0.7);
	padding: 10px 0 20px;
}

.paper .inner {
	width: 90%;
	margin: 0 auto;
}

dl.profile dt {
	float:left;
	width: 70px;
}

dl.profile dd {
	margin-left: 80px;
}

@media (min-width: 768px) and (max-width: 979px) {
	#container {
		width: 724px;
	}
	.navbar-fixed-top {
    	margin-bottom: 0px;
    	position: fixed;
	}
	.contents {
    	margin-top: 0px;
	}
	
	.topmain div {
		width: 400px;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0px;
		margin-right: 0px;
	}
	.contents {
    	margin-top: 0px;
	}
	.navbar-fixed-top {
    	margin-bottom: 0px;
	}
	.topmain div {
		width: auto;
	}
}

