@CHARSET "UTF-8";

* {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}

.navbar h1 {
	float: left;
	font-size: 20px;
	line-height: 20px;
}

.navbar h1 a:HOVER {
	text-decoration: none;
}

.contents {
    margin-top: 50px;
}

.contents h2 {
    font-size: 20px;
    line-height: 40px;
}

.contents h2.caption {
    text-align: center;
}

.breadcrumb {
	margin: 60px 0 20px;
}

.form-element {
	border: solid 1px #DEDEDE;
	background-color: #F5F5F5;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}

.form-element dl {
	margin: 5px 0;
}

.form-element dl dt{
	font-weight: bold;
	float: left;
	margin-left: 20px;
	padding-top: 5px;
}

.form-element dl dd {
	float: right;
	margin-right: 10px;
}

.form-element input, .form-element select, .from-element textarea {
	margin-bottom: 0px;
}