@CHARSET "UTF-8";

html,body {
    height:100%;
}

* {
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}

.easybg-css {
	background-image: url("/img/th_P4062921.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    min-height: 100%;
}

.navbar h1 {
	float: left;
	font-size: 20px;
	line-height: 20px;
}

.navbar h1 a:HOVER {
	text-decoration: none;
}

.navbar .social-plugin {
	float: right;
	padding-top: 10px;
}

.contents {
    margin-top: 40px;
}

.contents h2 {
    font-size: 20px;
    line-height: 40px;
}

.paper {
	background-color:rgba(255, 255, 255, 0.7);
	padding: 20px 0;
}

.paper .inner {
	width: 90%;
	margin: 0 auto;
}

.profile-image {
    position: relative;
    float: left;
    padding-right: 10px;
    margin-bottom: 5px;
}

.profile-image span {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #FFFFFF;
    display: inline-block;
    left: 0;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 120px;
    z-index: 1;
}

.profile-image span a{
    color: #FFFFFF;
    text-decoration: none;
}

.paper .contact {
	text-align: right;
}

@media (min-width: 768px) and (max-width: 979px) {
	#container {
		width: 724px;
	}
	.navbar-fixed-top {
    	margin-bottom: 0px;
	}
	.contents {
    	margin-top: 0px;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0px;
		margin-right: 0px;
	}
	.contents {
    	margin-top: 0px;
	}
	.navbar-fixed-top {
    	margin-bottom: 0px;
	}
}

